
body
{
	font-family: 'Oswald', sans-serif;
	cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif), default;
	height: 100%;
	background-image:url("bg.gif")
	
}
.btc
{
	margin-left: 3px;
	
}
.flashit{
	
	background-image: linear-gradient(to left, red, indigo, blue, green, red, orange, red);   -webkit-background-clip: text;
	color: transparent;

	-webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulseit{
	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
}
@-webkit-keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}
@keyframes pulse {
	0% { width:200px; } 
	50% { width:340px; } 
	100% { width:200px; }
}

h1
{
	
	font-size: 25px;
	text-align: center;
	color: white;
}